<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/57a701c981.js" crossorigin="anonymous"></script>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <title>Fit On - Home Page</title>

</head>

<body class="font-poppins text-midnight bg-paleBlue">

    <nav class="fixed top-0 left-0 w-full z-10">
        <div class="text-white bg-midnight h-20 p-5 pl-20 mx-auto flex justify-between items-center">
            <div class="flex gap-3">
                <!-- <img src="../asset/tailwindLogo.png" alt="Tailwind CSS Logo" class="h-10 w-10"> -->
                <h1 class="text-2xl font-bold">
                  Fit On
                </h1>
            </div>
        
            <ul class="flex gap-5 place-content-end pr-15 font-bold">
                <a href="" class="pt-2 hover:text-gray-300">
                    <i class="fa-regular fa-bell text-2xl"></i>
                </a>

                <a href="" class="text-2xl pt-1 hover:text-gray-300">
                    Guest
                </a>
                
                <a href="" class="bg-gray-300 w-11 h-11 flex justify-center rounded-3xl pt-1">
                    <i class="fa-solid fa-user text-3xl"></i>
                </a>
            </div>
    </nav>

    <!-- Navside -->
            <aside class="fixed top-20 pt-5 w-60 h-[calc(100vh-80px)] bg-white z-20 shadow-lg">
                    <div class="flex justify-center">
                        <ul>
                            <li class="hover:font-bold flex items-center">
                                <a href="" class="flex items-center gap-3">
                                    <iconify-icon icon="octicon:home-16" width="24" height="24" class=""></iconify-icon>
                                    <span class="">
                                        Home
                                    </span>
                                </a>
                        </li>
                        <li class="pt-5 hover:font-bold flex items-center">
                            <a href="" class="flex items-center gap-3">
                                <iconify-icon icon="tabler:progress-check" width="24" height="24"></iconify-icon>
                                <span>
                                    Progress
                                </span> 
                            </a>
                        </li>
                        <li class="pt-5 hover:font-bold">
                            <a href="" class="flex items-center gap-3">
                                <iconify-icon icon="akar-icons:schedule" width="24" height="24"></iconify-icon>
                                <span>
                                    Schedule
                                </span>
                            </a>
                        </li>
                        <li class="pt-5 hover:font-bold">
                            <a href="" class="flex items-center gap-3">
                                <iconify-icon icon="material-symbols:explore-outline-rounded" width="24" height="24" class=""></iconify-icon>
                                <span>
                                    Explore
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="">
                    <a href="" 
                    class="text-midnight font-bold text-sm absolute bottom-8 left-20 hover:text-blue-900">
                            Need Help?
                        </a>
                    </div>
            </aside>
                
    <main class="pt-20 pl-60">
        <!-- Progress -->
        <section>
            <section>
                <h1 class="text-3xl font-bold p-8">
                    Siap Jadi Lebih Kuat Hari Ini?
                </h1>
                
                <div>
                    <a href="">
                        <div class="flex items-center justify-center gap-20">
                            <div class="flex flex-col gap-20">
                                <div class="bg-white shadow-lg h-12 w-40 rounded-2xl flex justify-center items-center text-midnight">
                                    Body: 0,0%
                                </div>
                                <div class="bg-white shadow-lg h-12 w-40 rounded-2xl flex justify-center items-center text-midnight">
                                    Hand: 0,0%
                                </div>
                            </div>
                            
                            <div class="relative">
                                <img src="/asset/img/Character.png" alt="Character" class="h-65 w-auto rounded-2xl">
                            </div>
                            
                            <div class="flex flex-col gap-20">
                                <div class="bg-white shadow-lg h-12 w-40 rounded-2xl flex justify-center items-center text-midnight">
                                    Back: 0,0%
                                </div>
                                <div class="bg-white shadow-lg h-12 w-40 rounded-2xl flex justify-center items-center text-midnight">
                                    Leg: 0,0%
                                </div>
                            </div>
                            
                        </div>
                    </a>
                </div>
            </section>
            
            <section class="mt-8 mx-auto w-220 h-41 bg-midnight rounded-2xl p-6 flex items-center justify-between shadow-xl/20">
                <div class="flex items-center gap-8">
                    <img src="/asset/img/Character3.2.jpg" alt="Spider" class="h-30 w-auto ">
                    
                    <div class="flex flex-col">
                        <span class="text-gray-300 text-xl">Today Activity</span>
                        <span class="text-white text-3xl font-semibold">Hand: Biseps</span>
                        <span class="text-gray-300 text-xl mt-1">0% Progress</span>
                    </div>
                    
                    <a href="" class="bg-transparent h-10 w-10 ml-35 mt-2 rounded-full flex items-center justify-center shadow-2xl shadow-white">
                        <iconify-icon icon="carbon:reset" width="32" height="32" class="text-paleBlue"></iconify-icon>
                    </a>
                </div>
                
                <div class="pr-10">
                    <a href="" class="inline-flex items-center justify-center 
                                     bg-white text-midnight font-bold text-xl 
                                     px-5 py-3 rounded-full shadow-lg shadow-white/30
                                       transition-all duration-300 ease-in-out 
                                       hover:scale-105 active:scale-95">
                        Start Workout
                    </a>
                </div>
            </section>
        </section>

        <section>
            <h1 class="text-3xl font-bold p-8">
                Konsisten Itu Kunci!
            </h1>
            
            <section>
                
            </section>
        </section>
    </main>
</body>
</html>