<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/57a701c981.js" crossorigin="anonymous"></script>

    <!-- Font Poppins
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Momo+Signature&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">-->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    
    <title>Fit On - Landing Page</title>

</head>

<body class="font-poppins text-midnight bg-paleBlue">
    <nav class=" fixed top-0 left-0 w-full z-10">
        <div class="text-white bg-midnight p-5 pl-20 mx-auto flex justify-between items-center">
            <div class="flex gap-3">
                <!-- <img src="../asset/tailwindLogo.png" alt="Tailwind CSS Logo" class="h-10 w-10"> -->
                <h1 class="text-2xl font-bold">
                  Fit On
                </h1>
            </div>
        
            <ul class="flex gap-5 place-content-end pr-15 font-bold">
                <a href="" class="pt-2 hover:text-gray-300">
                    <i class="fa-regular fa-bell text-2xl"></i>
                </a>

                <a href="" class="text-2xl pt-1 hover:text-gray-300">
                    Guest
                </a>

                <a href="" class="bg-gray-300 w-11 h-11 flex justify-center rounded-3xl pt-1">
                    <i class="fa-solid fa-user text-3xl"></i>
                </a>
            </ul>

            <!-- <div class="bg-midnight mt-153 ml-166 w-16 h-15 flex place-content-center items-center rounded-2xl">
                <a href="">
                    <i class="fa-solid fa-angle-up text-5xl text-white"></i>
                </a>
            </div> -->
    </nav>

    <main>
        <!-- Hero Section -->
        <section class="">
            <h1 class="text-4xl font-bold text-midnight pt-77 pl-20">
                Siap Jadi Versi Terbaikmu?
            </h1>
        
            <h1 class="text-3xl text-gray-600 pl-20 pt-2">
                Daftar sekarang dan mulai perjalanan <br> menuju versi terbaikmu!
            </h1>

                <a href="/view/register.html" class="inline-flex items-center justify-center 
                             bg-midnight text-white font-bold text-xl 
                            w-50 h-16 mt-5 ml-20 rounded-2xl shadow-xl/20
                            transition-all duration-300 ease-in-out 
                            hover:bg-midnight hover:scale-105 active:scale-95">
                    Daftar Sekarang
                </a>                
            </section>
            
        <!-- Problem Section -->
        <section>
            <h1 class="text-4xl font-bold mt-70 ml-155 ">
                Problem?
            </h1>

            <div class="bg-midnight mt-15 w-auto h-90 flex gap-10 place-content-start justify-center items-center shadow-xl/15">
                <div class="bg-white h-70 w-100 transition delay-100 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-white">
                    <img src="/asset/img/ECry.jpg" alt="crying" class="h-45 w-auto pl-25 mt-4">
                    <h1 class="text-2xl text-center mt-5">
                        Don’t know where to start?
                    </h1>
                </div>

                <div class="bg-white h-70 w-100 transition delay-100 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-white">
                    <img src="/asset/img/EConfused.jpg" alt="confused" class="h-45 w-auto pl-28 mt-4">
                    <h1 class="text-2xl text-center mt-5">
                        Workout plans feel confusing?
                    </h1>
                </div>

                <div class="bg-white h-70 w-100 transition delay-100 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-white">
                    <img src="/asset/img/EBored.jpg" alt="bored" class="h-50 w-auto pl-25 ">
                    <h1 class="text-2xl text-center">
                        Feeling bored and <br> losing consistency?
                    </h1>
                </div>
        </section>

            <!-- Visual Preview Section -->
            <section>
                <h1 class="text-4xl font-bold ml-142 mt-15">
                    Visual Preview
                </h1>

                <div class="w-auto">
                    <div class="text-2xl mt-15 flex gap-20 place-content-start justify-center ml-px">
                        <img src="/asset/img/ProgresVP.png" alt="Progress Visual Preview" class="h-70 w-auto border-4 border-midnight rounded-2xl shadow-xl/15">
                                    
                        <div class="w-1 bg-midnight self-stretch"></div>
                            
                        <div class="mt-18">
                            <h1 class="text-3xl font-bold">Pantau Perkembanganmu <br> dan Tetap Termotivasi.</h1>
                            <h1 class="text-gray-600">Lihat peningkatan performa latihanmu setiap hari <br> dan capai target fitness dengan lebih terarah.</h1>
                        </div>
                    </div>
                    
                    <div class="text-2xl mt-15 flex gap-20 place-content-start justify-center ml-9">
                        <div class="mt-18">
                            <h1 class="text-3xl font-bold">Atur dan Kelola Jadwal Latihanmu</h1>
                            <h1 class="text-gray-600">Susun jadwal workout sesuai waktumu dan <br> tetap konsisten untuk mencapai target fitness <br> lebih terarah.</h1>
                        </div>
                        
                        <div class="w-1 bg-midnight self-stretch"></div>
                        
                        <img src="/asset/img/KalenderVP.png" alt="Progress Visual Preview" class="h-70 w-auto border-4 border-midnight rounded-2xl shadow-xl/15">
                    </div>
                    
                    <div class="text-2xl mt-15 flex gap-20 place-content-start justify-center mr-3">
                        <img src="/asset/img/RekomendasiVP.png" alt="Progress Visual Preview" class="h-70 w-auto border-4 border-midnight rounded-2xl shadow-xl/15">
                        
                        <div class="w-1 bg-midnight self-stretch"></div>
                        
                        <div class="mt-18">
                            <h1 class="text-3xl font-bold">Dapatkan Rekomendasi <br> Latihan yang Tepat</h1>
                            <h1 class="text-gray-600">Temukan program workout yang sesuai dengan <br> kebutuhan dan tujuan tubuhmu secara praktis.</h1>
                        </div>
                    </div>

                    <div class="text-2xl mt-15 flex gap-20 place-content-start justify-center ml-9 mr-px">
                        <div class="mt-18">
                            <h1 class="text-3xl font-bold">Ikuti Sesi Latihan Terpandu <br> dengan Teknik yang Benar</h1>
                            <h1 class="text-gray-600">Berlatih dengan panduan yang jelas agar hasil <br> lebih maksimal dan risiko cedera lebih minim.</h1>
                        </div>
                        
                        <div class="w-1 bg-midnight self-stretch"></div>
                        
                        <img src="/asset/img/KalenderVP.png" alt="Progress Visual Preview" class="h-70 w-auto border-4 border-midnight rounded-2xl shadow-xl/15">
                    </div>
                </section>
        
            <section class="mt-15 mx-auto max-w-5xl bg-midnight rounded-2xl p-6 flex items-center justify-between shadow-xl/20">
                <div class="flex items-center gap-8">
                    <img src="/asset/img/Character3.2.jpg" alt="Spider" class="h-40 w-auto ">
        
                    <div class="flex flex-col">
                        <h1 class="text-gray-300 text-xl">Recommended</h1>
                        <h1 class="text-white text-4xl font-semibold">Hand: Biseps</h1>
                        <h1 class="text-gray-300 text-xl mt-1">Try Now!</h1>
                    </div>
                </div>

                <div class="pr-10">
                    <a href="/view/register.html" class="inline-flex items-center justify-center 
                                     bg-white text-midnight font-bold text-xl 
                                       px-10 py-4 rounded-full shadow-lg shadow-white/10
                                       transition-all duration-300 ease-in-out 
                                       hover:scale-105 active:scale-95">
                        Start Workout
                    </a>
                </div>
            </section>
    </main>

    <footer class="mt-15 bg-midnight h-84">
        <h1 class="text-white">Footer Content</h1>
    </footer>
</body>
</html>