<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/output.css">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/57a701c981.js" crossorigin="anonymous"></script>

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <title>Fit On - Login/Verification Email</title>

</head>

<body class="bg-midnight font-poppins text-midnight">
    <main>
        <section class="flex justify-between">
            <div class="">
                <a href="/view/login.html" 
                    class="flex items-center justify-center bg-paleBlue text-midnight text-2xl 
                        h-10 w-10 mt-20 ml-25 rounded-3xl shadow-xl/15 shadow-white
                        transition-all duration-300 ease-in-out 
                        hover:scale-110 active:scale-95">
                        <i class="fa-solid fa-arrow-left"></i>
                </a>
            </div>
            
            <!-- Form Reset Password -->
            <section class="">
                <div class="bg-paleBlue h-140 w-130 rounded-3xl mt-14 mr-25">
                    <div class="pt-8 p-10">
                        <div>
                            <h1 class="text-3xl font-bold">
                                Verifikasi Alamat Email
                            </h1>
        
                            <h2 class="text-xl text-gray-600">
                                Tautan verifikasi telah dikirim ke name@example.com
                            </h2>
                        </div>


                        <div>    
                            <!-- <h2 class="pt-2">
                                Email Address
                            </h2>
                            <input type="email" class="bg-gray-200 mt-2 h-12 w-full rounded-xl"> -->
    
                        </div>

                        <div>
                            <button onclick="" 
                                class="bg-midnight h-12 w-full rounded-xl mt-5 shadow-xl/15 
                                      text-paleBlue font-bold
                                        transition-all duration-300 ease-in-out 
                                        hover:scale-[1.02] hover:bg-opacity-90
                                        active:scale-95">
                                        Send
                                    </button>
                                </div>
                                
                        <div class="p-2">
                            <h2 class="font-medium flex items-center justify-center gap-1">
                                Don’t get the code?
                                <a href="" class="font-bold">
                                    Resend
                                </a>
                            </h2>
                            <h2 class="font-medium flex items-center justify-center gap-1 pt-2">
                                Back to
                                <a href="/view/register.html" class="font-bold">
                                    Register
                                </a>
                            </h2>
                        </div>
                    </div>
                </div>
            </section>
    
        </section>

    </main>
</body>
</html>